<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">shop</a></li>
            </ul>
            <ul>
                <li><a href="/admin/add-product">add products</a></li>
            </ul>
        </nav>
    </header>    
    <main>
        <form action="/admin/add-product" method="POST">
            <input type="text" name="data">
            <button type="submit">Submit</button>
        </form>
    </main>
</body>
</html>