<!DOCTYPE html>
<html lang="en">
<head>
    <title>Add Product</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/product.css">
</head>
<body>
    <header class="main-header">
        <nav class="main-header__nav">
            <ul class="main-header__item-list">
                <li class="main-header__item"><a href="/">shop</a></li>
                <li class="main-header__item"><a href="/admin/add-product">add products</a></li>
            </ul>
        </nav>
    </header>    
    <main>
        <form class='product-form' action="/admin/add-product" method="POST">
            <div class="form-control">
                <label for="data">Data</label>
                <input type="text" id="data" name="data">
            </div>
            <button type="submit">Submit</button>
        </form>
    </main>
</body>
</html>